@charset "utf-8";

@import
	'normalize',
	'settings',
	// Get everything, at the cost of a HUGE CSS file
	// 'foundation';

// Structure
    // 'foundation/components/visibility',
    'foundation/components/grid',
    // 'foundation/components/block-grid',

// Navigation
    // 'foundation/components/offcanvas',
    // 'foundation/components/top-bar',
    // 'foundation/components/icon-bar',
    // 'foundation/components/side-nav',
    // 'foundation/components/magellan',
    // 'foundation/components/sub-nav',
    // 'foundation/components/breadcrumbs',
    // 'foundation/components/pagination',

// Media
    // 'foundation/components/orbit',
    // 'foundation/components/thumbs',
    // 'foundation/components/clearing', // clearing lightbox
    // 'foundation/components/flex-video',

// Forms
    // 'foundation/components/forms',
    // 'foundation/components/switches',
    // 'foundation/components/range-slider',

// Buttons
    // 'foundation/components/buttons',
    // 'foundation/components/button-groups',
    // 'foundation/components/split-buttons',
    // 'foundation/components/dropdown-buttons',

// Typography
    'foundation/components/type',
    // 'foundation/components/inline-lists',
    // 'foundation/components/labels',
    // 'foundation/components/keystrokes',

// Callouts & Prompts
    // 'foundation/components/reveal',
    // 'foundation/components/alert-boxes',
    // 'foundation/components/panels',
    // 'foundation/components/tooltips',
    // 'foundation/components/joyride',

// Content
    // 'foundation/components/dropdown',
    // 'foundation/components/pricing-tables',
    // 'foundation/components/progress-bars',
    'foundation/components/tables',
    // 'foundation/components/accordion',
    // 'foundation/components/tabs',

    'foundation/components/global';

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



@import
        "base",
        "layout",
        "syntax-highlighting"
;
